@import "normalize.css";
@import "prefixer.less";

@background-color: #fefefe;
@foreground-color: #202020;

@screen-phone:                  480px;
@screen-tablet:                 768px;
@screen-desktop:                992px;

@sizefont: 1em;

html {
  box-sizing:              border-box;
  -webkit-font-smoothing:  antialiased;
}

body {
  font-family:  "Lato", sans-serif;
  background:   @background-color;
  color:        @foreground-color;
}

/*Layout, flexbox*/

.loading-page {
  .flex-block();
  .flex-flow(column);
  .align-items(center);
  .justify-content(center);
  width: 100%;
  .logo{
    margin:  4rem auto;
  }
}

img.sponsor {
    display:block;
    margin:auto;
  }
.wrapper {
  width: 80%;
}

p, ul {
 width: 80%;
 margin: 1rem auto;
}

/*Fonts, colors and sizes*/
a {
    color: currentColor;
}
h1, h2, h3, .script {
  text-align: center; 
}
h2 {
  font-size: 1.3em;
}

.script {
  font-family: "Cookie", cursive;
  text-align: center;
}
