@import "normalize.css";
@import "prefixer.less";

@background-color: #fefefe;
@foreground-color: #202020;

@screen-phone:                  480px;
@screen-tablet:                 768px;
@screen-desktop:                992px;

html {
  box-sizing:              border-box;
  -webkit-font-smoothing:  antialiased;
}

body {
  font-family:  "Lato", sans-serif;
  background:   @background-color;
  color:        @foreground-color;
}

.script {
  font-family: "Cookie", cursive;
}

.loading-page {
  .flex-block();
  .flex-flow(column);
  .align-items(center);
  .justify-content(center);
  width: 100%;
  .logo {
    margin:  6rem auto;
  }
}
